/* Dentro de tu archivo styles.css o en una hoja de estilos separada */
/* Agrega clases para tabletas */
@media (max-width: 1023px) and (min-width: 769px) {
    .profile-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* Esto alinea los elementos horizontalmente */
        flex-wrap: wrap;
        /* Esto permite que los elementos se envuelvan cuando no haya suficiente espacio en pantalla */
        gap: 16px;
        /* Espacio entre elementos (ajusta según tus necesidades) */
    }

    .profile-item {
        flex: 1;
        /* Hace que los elementos ocupen el mismo espacio horizontalmente */
        max-width: calc(50% - 8px);
        /* Ajusta el ancho de los elementos según tu diseño (50% para 2 elementos por fila) */
    }

}

@media (min-width: 1024px) and (max-width: 1679px) {
    .main-component {
        max-height: 125vh !important;
        overflow-y: auto;
        scrollbar-width: thin;
    }
    .main-component::-webkit-scrollbar{
        width: 4px;
    }
    .main-component::-webkit-scrollbar-thumb {
        background-color: #ff5733;
        /* Color del botón de la barra de desplazamiento */
        border-radius: 2px;
    }
    .main-component::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
    .tech-menu{
        width: 100%;
    }
    .tech-menu > li{
        width: 100%;
    }
    .expertice-explanation{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .expertice-explanation > div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (min-width: 1680px) {
    .main-component {
        max-height: 100vh !important;
        overflow-y: auto;
        scrollbar-width: thin;
    }

    .main-component::-webkit-scrollbar{
        width: 4px;
    }
    .main-component::-webkit-scrollbar-thumb {
        background-color: #ff5733;
        /* Color del botón de la barra de desplazamiento */
        border-radius: 2px;
    }
    .main-component::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
    .tech-menu{
        column-count: 2;
        column-gap: 20px;
    }
    .expertice-explanation{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .expertice-explanation > div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
    }

}

@media (max-width: 768px) {
    .profile-items {
        width: 100%;
    }

    .profile-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
        /* Hace que los elementos ocupen el mismo espacio horizontalmente */
        width: 100%;

        /* Ajusta el ancho de los elementos según tu diseño (50% para 2 elementos por fila) */
    }
}

.scrollable-menu {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.scrollable-menu::-webkit-scrollbar {
    width: 4px;
}

.scrollable-menu::-webkit-scrollbar-thumb {
    background-color: #ff5733;
    border-radius: 2px;
}

.scrollable-menu::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Estilo para el cuadro de Expert */
.expert-box {
    width: 20px; /* Ancho del cuadro */
    height: 20px; /* Alto del cuadro */
    display: inline-block; /* Hace que los cuadros estén en línea con el texto */
    margin-right: 5px; /* Espacio a la derecha del cuadro */
  }
  
  /* Estilo para el cuadro de Proficient */
  .proficient-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
  }
  
  /* Estilo para el cuadro de Medium */
  .medium-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
  }
  